@charset "utf-8";
/* CSS Document */
body{font:12px/22px "微软雅黑";color:#555;background: url(../images/bg.jpg);width:100%;min-width:1280px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,span,img,textarea,p,blockquote,th,td,a,button{margin:0;padding:0;border:none;} 
img{border:0;vertical-align:top;margin:0;padding:0;}
.swiper-ad{
    width:100%;
    height: 520px;
}
ul,li{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;font-weight:normal;}
a{color:#555;text-decoration:none;}
a:visited {}
a:hover { text-decoration:underline;}
a:active {}
input,textarea{  font-family:"Microsoft YaHei";}
input:focus,textarea:focus{ outline:none; }


.slide-main{height:520px;position:relative; width:100% !important;  width:100%;min-width:1280px;}
.prev,.next{display:block;width:44px;height:44px;position:absolute;z-index:222;top:237px;overflow:hidden;cursor:pointer;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);_border:1px solid none;}

.prev{left:70px;}
.next{right:70px;}
.prev:hover,.next:hover,.nav-main a:hover,.nav-main a.cur{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
.item{display:block;width:100%;height:5px;position:absolute;z-index:124;top:480px;left:0;text-align:center;}
.item a{display:inline-block;width:24px;height:5px;margin-right:11px;background:#333;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);overflow:hidden;}
.item a.cur{background:#fff;}
.slide-box,.slide{display:block;width:100% !important; height:520px;overflow:hidden;}
.slide-box{position:relative;}
.slide{display:none;/*padding-top:89px;background:#ff6900;*/position:relative;position:absolute;z-index:8; width:100%;min-width:1280px; }
#bgstylea{background:url(../images/bg-a.jpg);}
#bgstyleb{background:url(../images/bg-b.jpg);}
#bgstylec{background:url(../images/bg-c.jpg);}
.slide a{display:block;width:100% !important;cursor:pointer;}
.obj-a,.obj-b,.obj-c,.obj-d,.obj-e,.obj-f{position:absolute;z-index:9;left:50%;}
.obj-a,.obj-b{width:952px;margin-left:-476px;text-align:center;}
.obj-a{display:block;height:352px;top:115px;}
.obj-b{top:285px;height:100px;}
.obj-c,.obj-d{width:952px;margin-left:-476px;text-align:center;}
.obj-c{display:block;height:262px;top:0px;}
.obj-d{top:190px;height:49px;}
.obj-d p{display:block;padding-top:20px;font-size:16px;color:#fff;clear:both;}
.obj-f{width:940px;height:311px;margin-left:-500px;top:100px;z-index:12;}
.obj-e{width:940px;height:311px;top:100px;margin-left:-500px;}
.banAnimate .obj-a{display:block;animation-name:baoAni;-webkit-animation:baoAni 0.4s linear 0s normal none;-moz-animation:baoAni 0.4s linear 0s normal none;animation:baoAni 0.4s linear 0s normal none;}
@-webkit-keyframes baoAni{from{opacity:0;left:60%;} to{opacity:1;left:50%;} }
@-moz-keyframes baoAni{from{opacity:0;left:60%;} to{opacity:1;left:50%;} }
@keyframes baoAni{from{opacity:0;left:60%;} to{opacity:1;left:50%;} }
.banAnimate .obj-b{display:block;animation-name:saAni;-webkit-animation:saAni 0.4s linear 0s normal none;-moz-animation:saAni 0.4s linear 0s normal none;animation:saAni 0.4s linear 0s normal none;}
@-webkit-keyframes saAni{from{opacity:0;-webkit-transform:scale(0,0);} to{opacity:1;-webkit-transform:scale(1,1);} }
@-moz-keyframes saAni{from{opacity:0;-moz-transform:scale(0,0);} to{opacity:1;-moz-transform:scale(1,1);} }
@keyframes saAni{from{opacity:0;transform:scale(0,0);} to{opacity:1;transform:scale(1,1);} }
.watch-code.code-show{display:block;animation-name:scode;-webkit-animation:scode 0.3s linear 0s normal none;-moz-animation:scode 0.3s linear 0s normal none;animation:scode 0.3s linear 0s normal none;}
@-webkit-keyframes scode{from{opacity:0;-webkit-transform:scale(1,0);transform-origin:left bottom;} to{opacity:1;-webkit-transform:scale(1,1); transform-origin: left bottom;} }
@-moz-keyframes scode{from{opacity:0;-moz-transform:scale(1,0); transform-origin:left bottom;} to{opacity:1;-moz-transform:scale(1,1);transform-origin:bottom bottom;} }
@keyframes scode{from{opacity:0;transform:scale(1,0);transform-origin:left bottom;} to{opacity:1;transform:scale(1,1);transform-origin: left bottom;} }
.banAnimate .obj-c,.banAnimate .obj-e{display:block;animation-name:saAnic;-webkit-animation:saAnic 0.3s linear 0s normal none;-moz-animation:saAnic 0.3s linear 0s normal none;animation:saAnic 0.3s linear 0s normal none;}
@-webkit-keyframes saAnic{from{opacity:0;left:47%;} to{opacity:1;left:50%;} }
@-moz-keyframes saAnic{from{opacity:0;left:47%;} to{opacity:1;left:50%;} }
@keyframes saAnic{from{opacity:0;left:47%;} to{opacity:1;left:50%;} }
.banAnimate .obj-d,.banAnimate .obj-f{display:block;animation-name:saAnid;-webkit-animation:saAnid 0.3s linear 0s normal none;-moz-animation:saAnid 0.3s linear 0s normal none;animation:saAnid 0.3s linear 0s normal none;}
@-webkit-keyframes saAnid{from{opacity:0;left:53%;} to{opacity:1;left:50%;} }
@-moz-keyframes saAnid{from{opacity:0;left:53%;} to{opacity:1;left:50%;} }
@keyframes saAnid{from{opacity:0;left:53%;} to{opacity:1;left:50%;} }

@media screen and (max-width: 1366px) {
    .swiper-ad {
        height: 380px;
    }
    .slide-box,.slide {
        height: 380px;
    }
    .item {
        top: 350px;
    }
    .prev {
        left:45px;
        top: 175px;
    }
    .next {
        right: 45px;
        top: 175px;
    }
}